/* .container{
    display: flex;
    min-width: 40%;
    width: 80%;
    
}
.boxes{
    display: flex;
    min-width: 600px;
    flex-direction: column;
}
.result{
    width: 900px;
    height: 100%;
    position: relative;
    right:200px;
}
.everything{
    display: flex;
    width: 100%;
} */

.navbar{
    
}